In [11]:
import pandas as pd
import numpy as np
df_bitcoin = pd.read_csv("Bitcoin_data.csv")
df_bitcoin['Date'] = pd.to_datetime(df_bitcoin['Date'])
df_bitcoin.set_index('Date', inplace=True)
df_bitcoin.head(5)

,Unnamed: 0,Open,High,Low,Close**,Volume,Market Cap
Date,,,,,,,
2019-07-15,1,10257.84,11052.77,9992.01,10895.09,"25,384,047,207","194,147,627,475"
2019-07-14,2,11381.02,11451.20,10234.58,10256.06,"22,486,000,001","182,741,933,552"
2019-07-13,3,11813.13,11841.96,10908.48,11392.38,"21,042,616,384","202,968,191,001"
2019-07-12,4,11354.30,11905.49,11179.14,11815.99,"23,534,692,797","210,494,417,832"
2019-07-11,5,12139.71,12144.62,11158.92,11358.66,"28,595,327,690","202,324,174,692"

In [12]:
max(df_bitcoin.index)

Timestamp('2019-07-15 00:00:00')

In [13]:
min(df_bitcoin.index)

Timestamp('2013-04-28 00:00:00')

In [14]:
df_bitcoin["Close**"].plot